@tailwind base;
@layer base {
  @font-face {
    font-family: "FONTSPRING DEMO - Blue Vinyl";
    src: url("./assets/fonts/instagram/FONTSPRINGDEMO-BlueVinylRegular.eot");
    src: url("./assets/fonts/instagram/FONTSPRINGDEMO-BlueVinylRegular.eot?#iefix")
        format("embedded-opentype"),
      url("./assets/fonts/instagram/FONTSPRINGDEMO-BlueVinylRegular.woff2")
        format("woff2"),
      url("./assets/fonts/instagram/FONTSPRINGDEMO-BlueVinylRegular.woff")
        format("woff"),
      url("./assets/fonts/instagram/FONTSPRINGDEMO-BlueVinylRegular.ttf")
        format("truetype"),
      url("./assets/fonts/instagram/FONTSPRINGDEMO-BlueVinylRegular.svg#FONTSPRINGDEMO-BlueVinylRegular")
        format("svg");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }
}

@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
